:root{
    --fundo:#8FBC8F;
    --cartao-frente:#358635;
    --cartap-verso:#008000;
    --destaque:#0cb90c;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0%;
}

footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}